.entity{
	margin:auto;
}
.data-table{
	background-color: #536DFD;
	color:white;
	border:none;
}
.records:hover{
	background-color: #bdbdbd;
	cursor:pointer;
	transition: 0.3s;
}
.view-btn{
	background-color: #536DFD !important;
	margin-left:20px !important;
}
.card-image{
	position: relative;
}
.activator{
	height:250px;
	position: 
}
.profile-card{
	height:380px;
}
.profile-pic{
	width:120px;
	position: absolute;
	bottom:70px;
	left:50px;
	z-index: 1;
}
.category{
	position: relative;
	bottom:300px;
}
.btn-floating{
	position: absolute;
	bottom:40px;
}

.tabs .tab a{
    color:#00ACC1;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#008B9B;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}
.tabs .indicator {
	background-color:#009BAD;
}
