html
  head
    title Login
  body
    form(method='POST', action='/login-room')
    p Username
      input(type='username', name='username', id='username')
    p Email
      input(type ='email', name='email', id='email')
    p Password
      input(type ='password' , name ='password', id ='password')
    p
      input(type='submit' value = 'Login')
    
