html
  head
    script.
      var room = #{roomNo}
    script.
      var gamemode = #{gamemode}
    script(src='/socket.io/socket.io.js')
    script(src='/client/constants.js')
    if gamemode == 0
      script(src='/client/game/play/classic.js')
    else if gamemode == 1
      script(src='/client/game/play/race.js')
    else if gamemode == 2
      script(src='/client/game/play/team-battle.js')
    else if gamemode == 3
      script(src='/client/game/play/tug-of-war.js')
    script(src='/client/play-logic.js')
    script(src='/client/game/common.js')
    title exQuizit! - Play
  body
    #game
    h1 In room: #{roomNo}
    ul(id='waiting-list')
      li Waiting List...
