html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overlay,
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
}

.form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-toggle:before,
.form-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    transform: translate(-50%, -50%);
}

.form-toggle:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.form-toggle:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form-toggle.visible {
    transform: translate(0, -25%) scale(1);
    opacity: 1;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}

.form-group button {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}

.form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}

.form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    transition: 0.3s ease;
    cursor: pointer;
}

.form-panel.two:before,
.form-panel.two:after {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    left: 1.5%;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    transition: 0.3s ease;
}

.form-panel.two:after {
    left: 3%;
}

.form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-panel.two:hover:before,
.form-panel.two:hover:after {
    opacity: 0;
}

.form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.form-panel.two.active:before,
.form-panel.two.active:after {
    opacity: 0;
}

.form-header {
    margin: 0 0 40px;
}

.form-header h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
}

.pen-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
}

.pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
}

.cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
}

.verifybutton {
    margin-bottom: 15px;
    height: 35px;
    width: 150px;
    background-color: #1D1F20;
    color: white;
    border: none;
}

.verifybutton:hover {
    cursor: pointer;
    background-color: #666;
    transition: 0.4s
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.tab_content {
    margin-left: 40px;
}

.tab {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    -webkit-font-smoothing: antialiased;
}

.tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.tabs a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #87d3b7;
}

.tabs_item {
    display: none;
    padding: 30px 0;
}

.tabs_item h4 {
    font-weight: bold;
    color: #87d3b7;
    font-size: 20px;
}

.tabs_item img {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.tabs_item:first-child {
    display: block;
}

.current a {
    color: #fff;
    background: #87d3b7;
}

.gameType.live {
    background-color: #BF360C;
}

.gameType {
    width: 40px;
    height: 40px;
    padding-left: 12px;
    padding-top: 2px;
    margin-left: 5px;
    font-size: 24px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
}

.view-btn {
    background: #3498DB;
    color: white;
}

table {
    width: 800px;
    margin: auto;
}

.data-table {
    background-color: #337AB7;
    color: white;
    height: 45px;
}

.data-table td {
    padding-left: 10px;
}

.records td {
    padding-left: 10px;
}

.records {
    height: 50px;
}

.records:hover {
    cursor: pointer;
    transition: 0.4s;
    background: #ECF0F1;
}

td {
    height: 30px;
}

.btn-cell {
    margin-left: 20px;
    padding-left: 40px;
    padding-top: 10px;
}

.edit-btn {
    font-size: 18px;
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
}

.download-btn {
    font-size: 18px;
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
}

.trash-btn {
    font-size: 18px;
    color: #666;
    margin-left: 10px;
    margin-right: 10px;
}

body .ui {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    box-shadow: none;
}

body .ui ul {
    margin: 0px 30px 10px 0px;
    padding: 0;
    list-style-type: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

body .ui .drop {
    z-index: -3;
    opacity: 0;
    width: 240px;
    height: 10px;
    background: #3e8368;
    position: absolute;
    color: white;
    bottom: 0;
    padding: 12px 30px 21px 30px;
    transition-property: bottom, opacity;
    transition-duration: .3s;
}

body .ui .drop p {
    color: #f8fbfa;
}

body .ui_box {
    width: 300px;
    height: 220px;
    position: relative;
    background: #3d3d3d;
    float: left;
    box-shadow: -1px 0px rgba(255, 255, 255, 0.07);
    cursor: pointer;
    transform: scale(1);
    transition-property: transform, background;
    transition-duration: .3s;
}

body .ui_box__inner {
    padding: 30px;
}

body .ui_box__inner span {
    font-size: 36px;
    font-weight: 700;
}

body .ui_box__inner .progress {
    width: 100%;
    margin-top: 10px;
    height: 6px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

body .ui_box__inner .progress_graph {
    float: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    width: 85px;
    text-align: center;
    position: relative;
    padding-left: 20px;
    top: 24px;
}

body .ui_box__inner .progress_graph__bar--1 {
    width: 10px;
    height: 20px;
    background: #4FA584;
    float: left;
    margin-right: 10px;
    position: relative;
    bottom: -10px;
    -webkit-animation: graph 1s;
}

body .ui_box__inner .progress_graph__bar--2 {
    width: 10px;
    -webkit-animation: graph2 1s;
    height: 30px;
    float: left;
    margin-right: 10px;
    background: #4FA584;
}

body .ui_box__inner .progress_graph__bar--3 {
    width: 10px;
    height: 24px;
    margin-right: 10px;
    -webkit-animation: graph3 1s;
    background: #4FA584;
    float: left;
    position: relative;
    bottom: -6px;
}

body .ui_box__inner .progress_graph__bar--4 {
    width: 10px;
    height: 14px;
    -webkit-animation: graph4 1s;
    bottom: -16px;
    position: relative;
    background: #4FA584;
    float: left;
}

body .ui_box__inner .progress_bar {
    height: 6px;
    float: left;
    width: 58%;
    background: #4FA584;
    -webkit-animation: bar 2s;
}

body .ui_box__inner .progress_bar--two {
    height: 6px;
    float: left;
    width: 78%;
    background: #4FA584;
    -webkit-animation: bar2 2s;
}

body .ui_box h2 {
    font-weight: normal;
    font-size: 16px;
    margin: -4px 0px 3px 0px;
}

body .ui_box p {
    font-size: 11px;
    color: #b6b6b6;
    clear: left;
    font-weight: 300;
    width: 160px;
    margin: 2px 0px 15px 0px;
}

body .ui_box:hover {
    background: #4FA584;
    transform: scale(1.1);
    transition-property: transform, background;
    transition-duration: .3s;
    position: relative;
    z-index: 1;
}

.ui_box:hover>.ui_box__inner p {
    color: #b3dacb;
}

.ui_box:hover>.drop {
    transition-property: bottom, opacity;
    transition-duration: .3s;
    bottom: -42px;
    opacity: 1;
}

.ui_box:hover>.drop .arrow {
    transition-property: transform;
    transition-duration: 1s;
    transform: rotate(765deg);
}

.ui_box:hover>.ui_box__inner .progress_graph>div {
    background: white;
}

.ui_box:hover>.ui_box__inner .progress .progress_bar,
.ui_box:hover>.ui_box__inner .progress .progress_bar--two {
    background: white;
}

.stat_left {
    float: left;
}

.arrow {
    width: 4px;
    height: 4px;
    transition-property: transform;
    transition-duration: 1s;
    transform: rotate(45deg);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 1px solid #CDEAD3;
    border-right: 1px solid #CDEAD3;
    float: right;
    position: relative;
    top: -24px;
    right: 0px;
}

@keyframes bar {
    from {
        width: 0px;
    }
    to {
        width: 58%;
    }
}

@keyframes bar2 {
    from {
        width: 0px;
    }
    to {
        width: 78%;
    }
}

@keyframes graph {
    from {
        height: 0px;
    }
    to {
        height: 20px;
    }
}

@keyframes graph2 {
    from {
        height: 0px;
    }
    to {
        height: 30px;
    }
}

@keyframes graph3 {
    from {
        height: 0px;
    }
    to {
        height: 24px;
    }
}

@keyframes graph4 {
    from {
        height: 0px;
    }
    to {
        height: 13px;
    }
}


/* Style the buttons that are used to open and close the accordion panel */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}


/* Style the accordion panel. Note: hidden by default */

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}