html{
  font-family: "Roboto", sans-serif;
}
body{
  font-family: "Roboto", sans-serif;
  max-width:100%;
  background-color: #15202A;
}

@font-face{
  font-family:'Futura';
  src:url(../FuturaBoldfont.ttf);
}
.hero .hero-wrapper {
  text-align: center;
}
.no-padding-top {
  padding-top: 0 !important;
}
.hero {
  background: #1c202a;
  background-size: cover;
  background-repeat: no-repeat;
  height:500px;
  background-position: 50% 50%;
}
.hero .hero-wrapper {
  padding: 16% 5%;
  background-color: rgba(0, 0, 0, 0.38);
}
.hero .hero-wrapper h1 {
  font-weight: 300;
  color: white;
  letter-spacing: .25em;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 16px;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;
}
.hero span{
  color: #FFF;
  font-size: 34px;
}
.hero .hero-wrapper h1:before, .hero .hero-wrapper h1:after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-right: none;
  border-left: none;
}
.hero .hero-wrapper h1:before {
  border-bottom-width: 2px;
  top: 2px;
}
.hero .hero-wrapper h1:after {
  border-top-width: 2px;
  top: 0px;
}
.section {
  position: relative;
  z-index: 1;
}
.section.slanted:before, .section.slanted:after {
  content: "";
  position: absolute;
  background-color: #15202A;
  width: 100%;
  height: 100%;
  transform-origin: 0%;
  left: 0;
  top: 0;
  z-index: -1;
}
.section.slanted:before {
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
.section.slanted:after {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
}
.section .section-wrapper {
  padding: 5.625rem 1.25rem;
  max-width: 61.25rem;
  margin: 0 auto;
}
.detail-container{
  margin:auto;
  width:1000px;

}
.why{
  background-color: #15202A;
}
.why-title{
  background: -webkit-linear-gradient(left,#2196f3, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 60px #FF5F6D;
}
.why-div{
  width:300px;
  margin-right:20px;

  display:inline-block;
  text-align: center;
}
.why-div h5{
  color:#CDECF7;
}
.icons8-Eye{
  margin:auto;
  text-align: center;
  position:absolute;
  left:600px;
  top:1230px;
  z-index: 999;
}

.benches {
  background-image: url(../img/backgrounds/benches.png);
}
.boots {
  background-image: url(../img/backgrounds/boots.png);
}
.buildings {
  background-image: url(../img/backgrounds/buildings.png);
}
.city {
  background-image: url(../img/backgrounds/city.png);
}
.metro {
  background-image: url(../img/backgrounds/metro.png);
}
a.btn-hh-trigger {
  display: block;
  font-size: 0 !important;
  line-height: 32px;
  width: 30px;
  height: 32px;
  background: #536DFD;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-decoration: none;
  position: relative;
  top: -11px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  border: none;
}
a.btn-hh-trigger:before,
a.btn-hh-trigger:after {
  content: "\f067";
  font-family: 'FontAwesome';
  font-size: 18px;
  font-style: normal;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  padding: 0;
  margin: 0;
  position: absolute;
  line-height: 30px;
  width: 30px;
  height: 30px;
  top: 2px;
  bottom: 0;
  left: -1px;
  right: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
a.btn-hh-trigger:after {
  content: "\f068";
  opacity: 0;
  filter: alpha(opacity=0);
}
a.btn-hh-trigger.target-open:before {
  opacity: 0;
  filter: alpha(opacity=0);
}
a.btn-hh-trigger.target-open:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-hidden {
  background: #15202A;
  color: #ffffff;
}
.header-hidden a:not(.btn),
.header-hidden p {
  color: #ffffff;
}
.logo{

  width:80px;
  margin-left:50px;
  margin-top:5px;
}
.getStarted{
  height:400px;
  background:linear-gradient(350deg, #FCB460 20%, #FF9AFB 50%, #9239FF 90%),
                      url("../img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin:auto;
}
.title{
  color:white;
  margin-left:50px;
  margin-top:120px;
}

.title span{
  color:#FEEA3B;
}


.enter-quiz{
  margin:auto;  
}
.enter-btn{
  background-color: #736CC4;
  box-shadow:0px 30px 10px 0 rgba(115, 108, 196, .4);
}
.time h4{ 
  margin-top:100px;
  text-align: center;
  color: #FFF;
  text-shadow:0 0 2px #fff, 0 0 25px #C1FD33;

}
.time hr{
  width:60px;
  height: 1px;
  background-color:#AAFF01;
  text-shadow:2px 5px 10px #AAFF01;
}
.http{
  color:#e74c3c;
}
.http-title{
  color:#e74c3c;
}
.insight{
  color:#2ecc71;
}
.fastconnect{
  color:#9b59b6;
}
.simple{
  color:#f39c12;
}
blockquote{
  color:#EB7077;
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #F6A2AD;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #536DFD;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.time{
  background:url("../img/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.aboutUs h4{
  color:#536DFD;
}


.time p{
  color:#FFF;
  text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgba(37,254,230,.18), 0 0 30px rgba(37,254,230,.18), 0 0 40px rgba(37,254,230,.18), 0 0 55px rgba(37,254,230,.18), 0 0 75px rgba(37,254,230,.18);
}
.subheading{
  font-family: 'Futura';
  color:#FFF;
  font-size:32px;
  text-shadow:0 0 2px #fff, 0 0 15px #F3F315;
}

.faq h4{

  color:#673AB7;
}

.ui {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  box-shadow: none;
}
.ui ul {
  margin: 0px 30px 10px 0px;
  padding: 0;
  list-style-type: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}
.ui .drop {
  z-index: -3;
  opacity: 0;
  width: 240px;
  height: 10px;
  background: #3e8368;
  position: absolute;
  color: white;
  bottom: 0;
  padding: 12px 30px 21px 30px;
  transition-property: bottom,opacity;
  transition-duration: .3s;
}
.ui .drop p {
  color: #f8fbfa;
}
.ui_box {

  width: 300px;
  height: 220px;
  position: relative;
  background: rgba(255,255,255,0.3);
  float: left;
  box-shadow: -1px 0px rgba(255, 255, 255, 0.07);
  cursor: pointer;
  transform: scale(1);
  transition-property: transform,background;
  transition-duration: .3s;
}
.ui_box__inner {
  padding: 30px;
}
.ui_box__inner span {
  font-size: 36px;
  font-weight: 700;
}
.ui_box__inner .progress {
  width: 100%;
  margin-top: 10px;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.ui_box__inner .progress_graph {
  float: right;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  width: 85px;
  text-align: center;
  position: relative;
  padding-left: 20px;
  top: 24px;
}
.ui_box__inner .progress_graph__bar--1 {
  width: 10px;
  height: 20px;
  background: #FEEA3B;
  float: left;
  margin-right: 10px;
  position: relative;
  bottom: -10px;
  -webkit-animation: graph 1s;
}
.ui_box__inner .progress_graph__bar--2 {
  width: 10px;
  -webkit-animation: graph2 1s;
  height: 30px;
  float: left;
  margin-right: 10px;
  background: #FEEA3B;
}
.ui_box__inner .progress_graph__bar--3 {
  width: 10px;
  height: 24px;
  margin-right: 10px;
  -webkit-animation: graph3 1s;
  background: #FEEA3B;
  float: left;
  position: relative;
  bottom: -6px;
}
.ui_box__inner .progress_graph__bar--4 {
  width: 10px;
  height: 14px;
  -webkit-animation: graph4 1s;
  bottom: -16px;
  position: relative;
  background: #FEEA3B;
  float: left;
}
.ui_box__inner .progress_bar {
  height: 6px;
  float: left;
  width: 58%;
  background: #FEEA3B;
  -webkit-animation: bar 2s;
}
.ui_box__inner .progress_bar--two {
  height: 6px;
  float: left;
  width: 78%;
  background: #4FA584;
  -webkit-animation: bar2 2s;
}
.ui_box h2 {
  font-weight: normal;
  font-size: 16px;
  margin: -4px 0px 3px 0px;
}
.ui_box p {
  font-size: 11px;
  color: #b6b6b6;
  clear: left;
  font-weight: 300;
  width: 160px;
  margin: 2px 0px 15px 0px;
}
.ui_box:hover {
  background: #536DFD;
  transform: scale(1.1);
  transition-property: transform,background;
  transition-duration: .3s;
  position: relative;
  z-index: 1;
}

.ui_box:hover > .ui_box__inner p {
  color: #b3dacb;
}

.ui_box:hover > .drop {
  transition-property: bottom,opacity;
  transition-duration: .3s;
  bottom: -42px;
  opacity: 1;
}

.ui_box:hover > .drop .arrow {
  transition-property: transform;
  transition-duration: 1s;
  transform: rotate(765deg);
}

.ui_box:hover > .ui_box__inner .progress_graph > div {
  background: white;
}

.ui_box:hover > .ui_box__inner .progress .progress_bar, .ui_box:hover > .ui_box__inner .progress .progress_bar--two {
  background: white;
}

.stat_left {
  float: left;
}

.arrow {
  width: 4px;
  height: 4px;
  transition-property: transform;
  transition-duration: 1s;
  transform: rotate(45deg);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 1px solid #CDEAD3;
  border-right: 1px solid #CDEAD3;
  float: right;
  position: relative;
  top: -24px;
  right: 0px;
}

@keyframes bar {
  from {
    width: 0px;
  }
  to {
    width: 58%;
  }
}
@keyframes bar2 {
  from {
    width: 0px;
  }
  to {
    width: 78%;
  }
}
@keyframes graph {
  from {
    height: 0px;
  }
  to {
    height: 20px;
  }
}
@keyframes graph2 {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}
@keyframes graph3 {
  from {
    height: 0px;
  }
  to {
    height: 24px;
  }
}
@keyframes graph4 {
  from {
    height: 0px;
  }
  to {
    height: 13px;
  }
}



.faq{
  background:url('../img/faqbackground.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 400px;
}
.free{
  font-size: 32px;
  background: -webkit-linear-gradient(left,#FFAC62, #FF8BEA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 300px;

}
.createAccount{
  margin-top:25px;
  height:45px;
  background:linear-gradient(90deg,#9d58ff,#5a35ed);
  box-shadow: 0 20px 20px 0 rgba(157,88,255,.3);
}
.createAccount:hover{
  color:white;
  box-shadow: 0 20px 20px 0 rgba(157,88,255,.3);
}
/* Shared Code */
nav{

  background-color:#15202A;
  height:65px;
}


nav li a:hover{
  background-color: #736CC4 ;
  color:white;

}

.page-footer{
  background-color: #15202A;
}

.collapsible-header{
  background: -webkit-linear-gradient(left, #FF5F6D , #FFC371);
  color:white;
}

.collapsible-body{
  background: -webkit-linear-gradient(left, #EECDA3 , #EF629F);
}


#searchbar{
  background-color: rgba(255,255,255,0.6) !important;
  width:500px;
  margin-right:380px;
  margin-top:10px;
  float:left;

}

.form__field {
  position: relative;
  width: 463px;
  display: block;
  overflow: hidden;
  margin: auto;
  background: #736CC4;
  box-shadow: 0 20px 60px 0 rgba(37,254,230,.18);
}

label {
  float: right;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 1em;
  color:white;
  transition: transform 400ms;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  line-height: 18px;
}

input[type="submit"] {
  width: 100%;
  margin: 0;
  height:30px;
  background: none;
}

input,
textarea {
  position: absolute;
  top: 0;
  right: 100%;
  width: 75%;
  height: 100%;
  margin: 0;
  padding: 1em;
  border: none;
  transform: translate3D(-100%, 0, 0);
  transition: transform 400ms;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 60ms;
}
input:focus, input.filled,
textarea:focus,
textarea.filled {
  transform: translate3D(100%, 0, 0);
  outline: none;
}
input:focus + label, input.filled + label,
textarea:focus + label,
textarea.filled + label {
  transform: translate3D(75%, 0, 0);
}
.home{
  display:block;
  height:400px;
}
.HomeHero{
  width:100%;
  position:relative;
  padding:7em 0;
  background:#1c202a;
}
.HomeHero__blueOval{
  width:300px;
  height:300px;
  position:absolute;
  content:"";
  z-index: 40;
  top:60%;
  left:-10%;
  border:20px solid #5946ff;
  border-radius: 50%;
  box-shadow: 0 50px 60px 0 rgba(85,88,254,.3);
}
.fadeInLeft{
  animation-name:fadeInLeft;
  animation-duration: 1s;
}
.HomeHero__aquaOval{
  width:300px;
  height:300px;
  position:absolute;
  content:"";
  z-index:40;
  top:150%;
  right:-10%;
  border:20px solid #50d4c5;
  border-radius:50%;
  box-shadow: 0 50px 60px 0 rgba(37,254,230,.18);
}
.fadeInRight{
  animation-name:fadeInRight;
  animation-duration: 1.5s;
}
.HomeHero__purpleOval{
  width:300px;
  height:300px;
  top:40%;
  right:-8%;
  position: absolute;
  content:"";
  border:20px solid #8c53f9;
  border-radius: 50%;
  z-index: 40;
  box-shadow: 0 50px 60px 0 rgba(178,71,255,.2);
}
.fadeInUp{
  animation-name:fadeInUp;
  animation-duration: 1s;
}
.HomeHero__pinkOval{
  width:300px;
  height:300px;
  bottom:-34%;
  left:15%;
  position: absolute;
  content:"";
  border:20px solid #e7586e;
  border-radius: 50%;
  z-index: 40;
  box-shadow: 60px 50px 60px 0 rgba(255,45,102,.25);
}
.fadeInUpalt{
  animation-duration: 4s;
  animation-name:fadeInUp;
}
.wrapper{
  max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}
.HomeHero__content{
      position: relative;
    z-index: 400;
    padding-left: 20px;
    animation-name: fadeInDown;
    animation-duration: 2s;
    margin-top: -60px;
    margin-bottom: 40px;
}