doctype html
html
  head
    title Change Password for Forget Password
    link(rel='stylesheet', type='text/css', href='css/LoginForm.css')
    script.
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')  
    script.
      $(function(){
      $("#forgetPassword").validate({
      rules:{
      username:{
      required:true,
      minlength:5
      },
      email:{
      required:true,
      email:true
      }
      },
      messages:{
      username:{
      required: "Please enter username",
      minlength:"Your username must consist atleast 5 characters"
      },
      email:{
      required:"Please enter email",
      email:"Please enter a valid email"
      },
      }
      });
      });
    body(onmousemove='canceltimer();', onclick='canceltimer();')
    form#changePassword(method='POST', action='/change-forget-password')
      input(type='hidden', name='_csrf', value=`${csrfToken}`)
      .form-group
        .form-toggle
        .form-panel.one
          .form-header
            h1 Change Password
          .form-content
            form
              .form-group
                label(for='newPassword') New Password
                input#newPassword(type ='password' , name ='newPassword', autocomplete="off")
              .form-group
                label(for='confirmPassword') Confirm Password
                input#confirmPassword(type ='password' , name ='confirmPassword',  autocomplete="off")
              .form-group
                button(type='submit') Update!
  script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js')
  script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js')
