html
  head
    title Change Password
    script.
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script.
        $(function(){
        $("#changePassword").validate({
        rules:{
        oldPassword:{
        required:true,
        minlength:8
        },
        newPassword:{
        required:true,
        minlength:8
        },
        confirmPassword:{
        required:true,
        minlength:8,
        equalTo:"#newPassword"
        }
        },
        messages:{
        oldPassword:{
        required: "Please enter your current password",
        minlength:"Your password must consist atleast 8 characters"
        },
        newPassword:{
        required: "Please enter your new password",
        minlength:"Your password must consist atleast 8 characters"
        },
        confirmPassword:{
        required: "Please enter your new password",
        minlength:"Your password must consist atleast 8 characters",
        equalTo:"Passwords not match"
        },
        }
        });
        });
  body(onmousemove='canceltimer();', onclick='canceltimer();')

    form#changePassword(onsubmit='/validate-change-password', method='POST', action='/password-change-room')
      div.form-group
        p Old Password
        input#oldPassword(type ='password' , name ='oldPassword', autocomplete="off")
        p New Password
        input#newPassword(type ='password' , name ='newPassword', autocomplete="off")
        p Confirm Password
        input#confirmPassword(type ='password' , name ='confirmPassword',  autocomplete="off")


      input(type='submit' value = 'Update')
    script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js')
    script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js')
