doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/LoginForm.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/materialize.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href='#') Logo
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='sass.html') Sass
          li
            a(href='badges.html') Components
          li
            a(href='collapsible.html') JavaScript
    .container-fluid
      .row
        form#createQuiz
          .col-md-3
          .col-md-6
            .form-group
              label(for='nameofQuiz') Quiz title:
              input#nameofQuiz(type='text', name='nameofQuiz', required='required', autocomplete='off')
            .form-group
              label(for='desc') Description:
              textarea#desc.materialize-textarea(name='desc')
            .form-group
              label Visibility:
              input#private(name='typeOfQuiz', type='radio')
              label(for='private') Yes
              input#public(type='radio', name='typeOfQuiz')
              label(for='public') No
            .form-group
              label Question No:
              p Prompt (20 characters)
            .form-group
              a.btn-floating.btn-large.waves-effect.waves-light.red.prompt-open(style='margin:auto;')
                i.material-icons add
              .wrap
                .content
                  .row
                    .col-md-7
                      .form-group
                        label(for='prompt') Prompt:
                        input#prompt(type='text', name='prompt', required='required', autocomplete='off')
                    .col-md-5
                      .form-group
                        label Visibility:
                        input#mcq(name='type', type='radio', onclick='setMCQ()')
                        label(for='mcq') MCQ
                        input#shortchoice(type='radio', name='type', onclick='setShort()')
                        label(for='shortchoice') Short-Ans
                  .row.selection
                    .row
                      .col-md-6
                        input#choice1.choices(type='textarea', name='choices')
                        input#choice1Ans(type='checkbox', name='solution')
                        label(for='filled-in-box') Filled in
                      .col-md-6
                        input#mcqChoice2.choices(type='textarea', name='choices')
                        input#choice2Ans(type='checkbox', name='solution')
                        label(for='filled-in-box') Filled in
                    .row
                      .col-md-6
                        input#mcqChoice1.choices(type='textarea', name='choices')
                        input#choice3Ans(type='checkbox', name='solution')
                        label(for='filled-in-box') Filled in
                      .col-md-6
                        input#mcqChoice2.choices(type='textarea', name='choices')
                        input#choice4Ans(type='checkbox', name='solution')
                        label(for='filled-in-box') Filled in
                  .row
                    .input-field.col-md-5
                      select#time(name='time')
                        option(value='5') 5 seconds
                        option(value='10') 10 seconds
                        option(value='15') 15 seconds
                        option(value='20') 20 seconds
                      label Time
                    .col-md-7
                      .form-group
                        label(for='reward') Specific Reward
                        input#reward(type='number')
                  .row
                    .col-md-5
                      .form-group
                        label(for='penalty') Specific Penalty
                        input#penalty(type='number')
                    .col-md-7
                      button.btn.waves-effect.waves-light(type='submit', name='action')
                        | Submit
                        i.material-icons.right send
                      button#cancel.btn.waves-effect.waves-light(name='action') Cancel
            .col-md-3
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(src='/resources/js/add-quiz.js')
      script(type='text/javascript', src='js/materialize.min.js')
      script(src='js/bootstrap.min.js')
      script(type='text/javascript').
        $(document).ready(function() {
        $('select').material_select();
        });
        $('a').on('click', function(){
        $('.wrap, a').toggleClass('active');
        return false;
        });
        $('.prompt-open').on('click', function(){
        if($('.wrap').hasClass('active')){
        $('.prompt-open').attr('z-index', '-1');
        }
        });
        $('#cancel').on('click',function(){
        $('.wrap').removeClass('active');
        });
        //Selection Choice
