doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='css/LoginForm.css')
  body
    .form
      .form-toggle
      .form-panel.one
        .form-header
          h1 Forget Password
        .form-content
          form
            .form-group
              label(for='emailAddress') Email Address
              input#emailAddress(type='text', name='emailAddress', required='required')
            .form-group
              button(name='verifyEmail') Send to Email Address
            .form-group
              label(for='phone') Phone Number
              input#phone(type='number', name='verifyPhone')
            .form-group
              button(name='verifyPhone') Send OTP
