doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='css/LoginForm.css')
    script.
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')  
    script.
      $(function(){
      $("#forgetPassword").validate({
      rules:{
      username:{
      required:true,
      minlength:5
      },
      email:{
      required:true,
      email:true
      }
      },
      messages:{
      username:{
      required: "Please enter username",
      minlength:"Your username must consist atleast 5 characters"
      },
      email:{
      required:"Please enter email",
      email:"Please enter a valid email"
      },
      }
      });
      });
    body(onmousemove='canceltimer();', onclick='canceltimer();')
    form#forgetPassword(onsubmit='/validate-forget-password', method='POST', action='/forget-password-room-success')
      .form-group
        .form-toggle
        .form-panel.one
          .form-header
            h1 Forget Password
          .form-content
            form
              .form-group
                label(for='username') Username
                input#username(type='text', name='username', autocomplete='off')
              .form-group
                label(for='email') E-mail
                input#email.text(type='email', name='email', autocomplete='off')
              .form-group
                button(type='submit') Forget Password
  script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js')
  script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js')
