doctype html
html
  head
    meta(charset = 'utf-8')
    title
    script.
      var csrf = '#{csrfToken}'
      console.log(csrf)
  body
    form(action='/process', method='POST')
      | Favorite color:
      input(type='text', name='favoriteColor')
      input(type='hidden', id = 'blah', name = '_csrf')
      button(type='submit') submit'
    script.
      document.getElementById('blah').value = csrf
