html
  head
    script(src='/resources/pixi.js')
    script(src='/socket.io/socket.io.js')
    script(src='/resources/constants.js')
    script(src='/controller/play-logic.js')
    script(src='/resources/graphicsAPI/DisplayElement.js')
    script(src='/resources/graphicsAPI/LoadingBar.js')
    script(src='/resources/graphicsAPI/Button.js')
    script(src='/resources/graphicsAPI/Car.js')
    script(src='/resources/graphicsAPI/McqButtonHandler.js')
    script(src='/resources/graphicsAPI/QuestionDisplay.js')
    script(src='/resources/graphicsAPI/ShortAnswerTextField.js')
    script(src='/resources/graphicsAPI/TopBar.js')
    script(src='/controller/graphics-test.js')
  body
