doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
  html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Food and Restorent One page Template
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/resources/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/resources/css/font-awesome.min.css')
    // <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">
    // For Plugins external css
    link(rel='stylesheet', href='/resources/css/animate.css')
    // Theme custom css
    link(rel='stylesheet', href='/resources/css/style.css')
    // Theme Responsive css
    link(rel='stylesheet', href='/resources/css/responsive.css')
    script(src='/resources/js/modernizr-2.8.3-respond-1.4.2.min.js')
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    .preloader
      .loaded  
    header#home.navbar-fixed-top
      .header_top_menu.clearfix
        .container
          .row
            .col-md-5.col-md-offset-3.col-sm-12.text-right
              .call_us_text
                a(href='')
                  i.fa.fa-clock-o
                  |  Default Theme
                a(href='')
                  i.fa.fa-phone
                  | Dark Theme
            .col-md-4.col-sm-12
              .head_top_social.text-right
                a(href='')
                  i.fa.fa-facebook
                a(href='')
                  i.fa.fa-google-plus
                a(href='')
                  i.fa.fa-twitter
                a(href='')
                  i.fa.fa-linkedin
                a(href='')
                  i.fa.fa-pinterest-p
                a(href='')
                  i.fa.fa-youtube
                a(href='')
                  i.fa.fa-phone
                a(href='')
                  i.fa.fa-camera
      // End navbar-collapse
      .main_menu_bg
        .container
          .row
            nav.navbar.navbar-default
              .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand.our_logo(href='#')
                    img(src='/resources/images/logo.png', alt='')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#') Home
                    li
                      a(href='#') About us
                    li
                      a(href='#') FAQ
                    li
                      a(href='#') Contact
                    li
                      a(href='#') Join
                    li
                      a.booking(href='/student-login') Login
                // /.navbar-collapse
              // /.container-fluid
    // End Header Section
    section#slider.slider
      .slider_overlay
        .container
          .row
            .main_slider.text-center
              .col-md-12
                .main_slider_content.wow.zoomIn(data-wow-duration='1s')
                  h1
                    span#first Game
                    span#second Pin
                  form#login(method='POST', action='/verify-pin')
                    .row
                      .col-md-3
                      .col-md-6
                          input(type='hidden', name='_csrf', value=`${csrfToken}`)
                          input#bot(type='hidden', name='_bot')
                          input.form-control(name='pinNo', type='text', placeholder='Pin Number')
                      .col-md-3
                    .row
                      .col-md-3
                      .col-md-6
                        //TODO: CHANGE THE DESIGN FOR THIS BUTTON
                        input.button(type='submit', value='Enter Game')
                        //- a.btn.btn-primary(href='#', style='margin-top:15px;') Enter Game
                      .col-md-3
    section#abouts.abouts
      .container
        .row
          .abouts_content
            .col-md-6
              .single_abouts_text.text-center.wow.slideInLeft(data-wow-duration='1s')
                img(src='/resources/images/ab.jpg', alt='')
            .col-md-6
              .single_abouts_text.wow.slideInRight(data-wow-duration='1s')
                h4 About us
                h3 MEET EXQUIZIT
                p
                  | Socrative is your classroom app for fun, effective classroom engagement. No matter where or how you teach, Socrative allows you to instantly connect with students as learning happens.
                p
                  | Quickly assess students with prepared activities or on-the-fly questions to get immediate insight into student understanding. Then use auto-populated results to determine the best instructional approach to most effectively drive learning.
                a.btn.btn-primary(href='') click here
    // Resume Section
    section#resume.resume-section.section-padding
      .container
        .row
          .col-md-12
            .resume-title
              h3 How does it work
            .resume
              ul.timeline
                li
                  .posted-date
                    span.month Step 1
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Search Or Create
                      // /timeline-heading
                      .timeline-body
                        p
                          | Find amazing quizzes made by other users, or create your own quizzes and share them with others
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
                li.timeline-inverted
                  .posted-date
                    span.month Step 2
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Choose Between 2 Game Categories
                      // /timeline-heading
                      .timeline-body
                        p
                          | Start an exciting game with others by choosing either of our 2 game categories, Classic mode and Dash mode. Choose between MCQ Questions or Short Answers to up the difficulties of the game
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
                li
                  .posted-date
                    span.month Step 3
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Play!
                      // /timeline-heading
                      .timeline-body
                        p
                          | Everybody plays together, Gamfication elements like avatars, leaderboard add to the fun! Review your work in the end
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
                li.timeline-inverted
                  .posted-date
                    span.month Step 4
                  // /posted-date
                  .timeline-panel.wow.fadeInUp
                    .timeline-content
                      .timeline-heading
                        h3 Analyze
                      // /timeline-heading
                      .timeline-body
                        p
                          | Use our detailed class and student-level reports to understand where your students need help on
                      // /timeline-body
                    // /timeline-content
                  // /timeline-panel
        // /row
      // /.container
    // End Resume Section
    // Facts Section
    section#facts.facts-section.text-center(data-stellar-vertical-offset='50', data-stellar-background-ratio='0.2')
      .tt-overlay-bg
        .container
          .row
            .col-md-12
              .count-wrap
                .col-sm-3.col-xs-6
                  i.fa.fa-flask
                  h3.timer Secure
                  p Access to learning
                .col-sm-3.col-xs-6
                  i.fa.fa-thumbs-up
                  h3.timer Immediate
                  p insight to students records
                .col-sm-3.col-xs-6
                  i.fa.fa-users
                  h3.timer Fast
                  p connection to learning
                .col-sm-3.col-xs-6
                  i.fa.fa-trophy
                  h3.timer Fast
                  p and Simple UI
              // /count-wrap
            // /.col-md-12
          // /.row
        // /.container
    // End Facts Section
    section#faq
      .container
        .row
          .main_mobail_apps_content.wow.zoomIn
            .col-md-3
            .col-md-3.col-sm-6
              .pricingTable.blue
                .pricingTable-header
                  span.heading
                    h3 Standard
                    span.subtitle Lorem ipsum dolor sit
                  span.price-value
                    | $10 
                    span monthly
                .pricingContent
                  ul
                    li
                      | 50GB Disk Space 
                      i.fa.fa-check
                    li
                      | 50 Email Accounts 
                      i.fa.fa-check
                    li
                      | 50GB Monthly Bandwidth 
                      i.fa.fa-check
                    li
                      | 10 subdomains 
                      i.fa.fa-check
                    li
                      | 15 Domains 
                      i.fa.fa-times
                // /  CONTENT BOX
                .pricingTable-sign-up
                  a.btn.btn-block(href='#') register
                // BUTTON BOX
            .col-md-3.col-sm-6
              .pricingTable.pink
                .pricingTable-header
                  span.heading
                    h3 Business
                    span.subtitle Lorem ipsum dolor sit
                  span.price-value
                    | $20 
                    span monthly
                .pricingContent
                  ul
                    li
                      | 60GB Disk Space 
                      i.fa.fa-check
                    li
                      | 60 Email Accounts 
                      i.fa.fa-check
                    li
                      | 60GB Monthly Bandwidth 
                      i.fa.fa-check
                    li
                      | 15 subdomains 
                      i.fa.fa-check
                    li
                      | 20 Domains 
                      i.fa.fa-times
                // /  CONTENT BOX
                .pricingTable-sign-up
                  a.btn.btn-block(href='#') register
                // BUTTON BOX
            .col-md-3
    section#footer_widget.footer_widget
      .container
        .row
          .footer_widget_content.text-center
            .col-md-4
              .single_widget.wow.fadeIn(data-wow-duration='2s')
                h3 Take it easy with location
                .single_widget_info
                  p
                    | SIT SF1602
                    span Nanyang Polytechnic
                    span.phone_email phone: 00 000 000
                    span Email: support@exquitz.com
                .footer_socail_icon
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-linkedin
                  a(href='')
                    i.fa.fa-pinterest-p
                  a(href='')
                    i.fa.fa-youtube
                  a(href='')
                    i.fa.fa-phone
                  a(href='')
                    i.fa.fa-camera
            .col-md-2
            .col-md-6
              .single_widget.wow.fadeIn(data-wow-duration='5s')
                h3 Feedback For Us
                .single_widget_form.text-left
                  form#formid(action='#')
                    .form-group
                      input.form-control(type='text', name='name', placeholder='first name', required='')
                    .form-group
                      input.form-control(type='email', name='email', placeholder='Email', required='')
                    .form-group
                      input.form-control(type='text', placeholder='Subject')
                    // end of form-group
                    .form-group
                      textarea.form-control(name='message', rows='3', placeholder='Message')
                    input.btn.btn-primary(type='submit', value='click here')
    // Footer
    footer#footer.footer
      .container.text-center
        .row
          .col-sm-12
            .copyright.wow.zoomIn(data-wow-duration='3s')
              p
                | Made with 
                i.fa.fa-heart
                |  by ExQuizit 2017. All Rights Reserved
    .scrollup
      a(href='#')
        i.fa.fa-chevron-up
    script(src='/resources/js/jquery-1.11.2.min.js')
    script(src='/resources/js/bootstrap.min.js')
    script(src='/resources/js/jquery.easing.1.3.js')
    script(src='/resources/js/wow.min.js')
    script(src='/resources/js/plugins.js')
    script(src='/resources/js/main.js')
