html
  head
    script.
      var room = #{roomNo};
    script(src='/resources/pixi.js')
    script(src='/resources/constants.js')
    script(src='/socket.io/socket.io.js')
    script(src='/controller/game/host/common.js')
    script(src='/controller/host-logic.js')
    link(rel='stylesheet' type='text/css' href='/css/host.css')
    link(rel='stylesheet' type='text/css' href='/css/end.css')
    title exQuizit! - Play
  body
    #room
      h1 Room Number: #{roomNo}
    #game
      button(onclick='gameRoom(0)') Classic
      button(onclick='gameRoom(1)') Race
    ul(id='waiting-list')
    button(id='start' onclick='start()') Start!
