html
  head
    script.
      var room = #{roomNo};
    script(src='/resources/constants.js')
    script(src='/socket.io/socket.io.js')
    script(src='/controller/host-logic.js')
    script(src='/resources/graphicsAPI/DisplayElement.js')
    script(src='/resources/graphicsAPI/BarGraphBar.js')
    script(src='/resources/graphicsAPI/BarGraph.js')
    script(src='/resources/graphicsAPI/PlayerRanking.js')
    script(src='/resources/graphicsAPI/LoadingBar.js')
    script(src='/resources/graphicsAPI/Button.js')
    script(src='/resources/graphicsAPI/Car.js')
    script(src='/resources/graphicsAPI/McqButtonHandler.js')
    script(src='/resources/graphicsAPI/QuestionDisplay.js')
    script(src='/resources/graphicsAPI/ShortAnswerTextField.js')
    script(src='/resources/graphicsAPI/TopBar.js')
    title exQuizit! - Play
  body
    #room
      h1 Room Number: #{roomNo}
    #game
      button(onclick='gameRoom(0)') Classic
      button(onclick='gameRoom(1)') Race
      button(onclick='gameRoom(2)') Battle
      button(onclick='gameRoom(3)') Tug Of War
    ul(id='waiting-list')
    button(id='start' onclick='start()') Start!
    #test
      button(onclick='test_next_round()') (TEST) NEXT ROUND
