html
  head
    script(src='resources/constants.js')
    script(src='socket.io/socket.io.js')
    script(src='resources/pixi.js')
  body
    #form
      h1 JOIN ROOM
      form(action='/join-room', method='POST')
        input(type='hidden', name='_csrf', value=`${csrfToken}`)
        | User_Id:
        br
        input#id(type='text', name='id')
        br
        br
        |         Password:
        br
        input#pass(type='text', name='pass')
        br
        br
        |         Room_Id:
        br
        input#room(type='text', name='room')
        br
        br
        input(type='submit', value='Submit')
        br
