html
  head
    title Login
    script(src='https://l2.io/ip.js?var=userip')
    script.
      var userip;
      var data = !{JSON.stringify(data)}
      console.log(data)
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script.
        $(function(){
        $("#login").validate({
        rules:{
        username:{
        required:true,
        minlength:5
        },
        password:{
        required:true,
        minlength:8
        }
        },
        messages:{
        username:{
        required: "Please enter username",
        minlength:"Your username must consist atleast 5 characters"
        },
        password:{
        required: "Please enter password",
        minlength:"Your password must consist atleast 8 characters"
        },
        }
        });
        });
  body(onmousemove='canceltimer();', onclick='canceltimer();')

    form#login(onsubmit='/validate-login-room', method='POST', action='/login-room')
      div.form-group
        p username
        input(type='text', name='username', id='username', autocomplete="off")
        p password
        input(type ='password' , name ='password', id ='password', autocomplete="off")


      input(type='submit' value = 'Login')
    script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js')
    script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js')
