doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='/resources/css/LoginForm.css')
    title Login 
    script.
      var data = !{JSON.stringify(data)}
      console.log(data)
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js')
    script.
      jQuery.validator.addMethod('checkphone', function(value){
        if(/^[0-9]{8}$/.test(value)){
          return true;
         } else{
          return false;
         };
       }, 'Please enter a valid phone number');
    script.
      $(function(){ 
         $('#register-teacher').validate({
            rules:{
              lusername:{
                required:true,
                minlength:5
              },
              lpassword:{
                required:true,
                minlength:8
              },
              cpassword:{
                required:true,
                minlength:8,
                equalTo:"#lpassword"
              },
              number:{
                checkphone:true
              },
              email:{
                required:true,
                email:true
              },
              school:{
                required:true,
                minlength:3
              }
            },
            messages:{
              lusername:{
                  required: "Please enter username",
                  minlength:"Your username must consist atleast 5 characters"
                },
              lpassword:{
                  required: "Please enter password",
                  minlength:"Your password must consist atleast 8 characters"
                },
              cpassword:{
                  required:"Please enter password",
                  minlength:"Your password must consist atleast 8 characters",
                  equalTo:"Passwords not match"
                },
              email:{
                  required:"Please enter email",
                  email:"Please enter a valid email"
                },
              school:{
                  required:"Please enter your school",
                  minlength:"Please enter a valid school"
                }
              }
            });
          });
    script.
      $(function(){
        $('#register-student').validate({
          rules:{
            name:{
              required:true,
              minlength:5
            },
            username:{
              required:true,
              minlength:5
            },
            password:{
              required:true,
              minlength:8
            },
            cpassword:{
              required:true,
              minlength:8,
              equalTo:"#password"
            },
            number:{
              checkphone:true
            },
            email:{
              required:true,
              email:true
            },
            DOB:{
              required:true,
              date:true
            },
            school:{
              required:true,
              minlength:3
            }
          },
          messages:{
            name:{
              required: "Please enter name",
              minlength:"Your name must consist atleast 5 characters"
            },
            lusername:{
              required: "Please enter username",
              minlength:"Your username must consist atleast 5 characters"
            },
            lpassword:{
              required: "Please enter password",
              minlength:"Your password must consist atleast 8 characters"
            },
            cpassword:{
              required:"Please enter password",
              minlength:"Your password must consist atleast 8 characters",
              equalTo:"Passwords not match"
            },
            email:{
              required:"Please enter email",
              email:"Please enter a valid email"
            },
            DOB:{
              required:"Please enter your birthdate",
              date:"Please enter a valid date"
            },
            school:{
              required:"Please enter your school",
              minlength:"Please enter a valid school"
            }
          }
        });
      });
    script.
        $(function(){
        $("#login").validate({
        rules:{
        username:{
        required:true,
        minlength:5
        },
        password:{
        required:true,
        minlength:8
        }
        },
        messages:{
        username:{
        required: "Please enter username",
        minlength:"Your username must consist atleast 5 characters"
        },
        password:{
        required: "Please enter password",
        minlength:"Your password must consist atleast 8 characters"
        },
        }
        });
        });
    script.
      function setIp(){
        $('#userIp').val(userip);
      }
  body(onmousemove='canceltimer();', onclick='canceltimer();')
    // Form
    .form
      .form-toggle
      .form-panel.one
        .form-header
          h1 Account Login
        .form-content
          form#login(onsubmit = 'setIp()' ,method='POST', action='/login-room')
            .form-group
              label(for='username') Username
              input#username(type='text', name='username', required='required', autocomplete="off")
            .form-group
              label(for='password') Password
              input#password(type='password', name='password', required='required', autocomplete="off")
            input#userIp(type='hidden' name='userIp')
            .form-group
              a.form-recovery(href='ForgetPassword.html') Forgot Password?
            .form-group
              button(type='submit') Log In
      .form-panel.two
        .form-header
          h1 Register Account
        // @ToDO add tool tips
        .form-content
          form#register-teacher(action='/reg-room-teach', method='post')
            .form-group
              label(for='name') Name
              input#name(type='text', name='name',  autocomplete="off")
            .form-group
              label(for='lusername') Username
              input#lusername(type='text', name='lusername')
            .form-group
              label(for='lpassword') Password
              input#lpassword(type='password', name='lpassword')
            .form-group
              label(for='cpassword') Confirm Password
              input#cpassword(type='password', name='cpassword')
            .form-group
              label(for='email') Email Address
              input#email(type='email', name='email', autocomplete="off")
            .form-group
              label(for='number') Phone Number
              input#number.checkphone(type='text', name='number' , autocomplete="off")
            .form-group
              label(for='school') School
              input#school(type='text', name='school' , autocomplete="off")
            //- .form-group/', type='date', name='DOB',min='1990-01-01',max='2011-01-15')
            .form-group
              input#register-teacher-submit(type="submit" name="register-teacher-submit" value="Register")

    script(src='/resources/js/bootstrap.min.js')
    script.
      var userip;
    script(src='https://l2.io/ip.js?var=userip')
    script(type='text/javascript').
      $(document).ready(function() {
      var panelOne = $('.form-panel.two').height(),
      panelTwo = $('.form-panel.two')[0].scrollHeight;
      $('.form-panel.two').not('.form-panel.two.active').on('click', function(e) {
      e.preventDefault();
      $('.form-toggle').addClass('visible');
      $('.form-panel.one').addClass('hidden');
      $('.form-panel.two').addClass('active');
      $('.form').animate({
      'height': panelTwo
      }, 200);
      });
      $('.form-toggle').on('click', function(e) {
      e.preventDefault();
      $(this).removeClass('visible');
      $('.form-panel.one').removeClass('hidden');
      console.log("testing");
      $('.form-panel.two').removeClass('active'); 
      $('.form').animate({
      'height': panelOne
      }, 200);
      });
      });
