html
  head
    title OTP
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js')
    script.
      var tim = 0;
      var userip;
      console.log("start timer");
      function reload () {
      tim = setTimeout("location.reload(true);",180000);   // 1 minute
      }
      console.log("stop timer");
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }

      function validate() {
      var inputCode = document.getElementById("input").value.toUpperCase();
      }
      
      function setIp(){
        $('#userIp').val(userip);
      }

  body(onmousemove='canceltimer();', onclick='canceltimer();')
    h1 OTP
    form(onsubmit = 'setIp()', action='/otp-check', method='POST')
      input(type='hidden', name='_csrf', value=`${csrfToken}`)
      input#otp(type='text' name='otp')
      input#userIp(type='hidden' name='userIp')
      input(type='submit', value=' Verification ')
          
    //- script.
    //-   var userip;
    script(src='https://l2.io/ip.js?var=userip')
