doctype html
html
  head
    title
    link(rel='stylesheet', type='text/css', href='/resources/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/resources/css/LoginForm.css')
    link(rel='stylesheet', type='text/css', href='/resources/css/materialize.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    nav
      .nav-wrapper
        .col.s12
          a.breadcrumb(href='#!') Home
          a.breadcrumb(href='#!') Login
          a.breadcrumb(href='#!') Verification
    .row
      .col.s2
      .col.s8
        .card.green.accent-2
          .card-content.darken-text
            span.card-title Note
            p
              | Your account contains lots of personal data. Please do not share your username, password and 2FA details (SMS-OTP and Email- OTP)
        .acc-details
          p
            | Welcome,
            span#acc_name Bryan Tan
      .col.s2
  form(onsubmit='/validate-otp-check', method='POST', action='/LoginIndex')
    .otp-tab
      .row
        .col.s12
          ul.tabs
            li.tab.col.s3
              a.active(href='#test1') SMS OTP
            li.tab.col.s3
              a(href='#test2') Email OTP
        #test1.col.s12
          p Enter the 6 digit One-Time-Password (OTP) sent to your mobile number
          .input-field.col.s3
            input#sms_otp.validate(placeholder='OTP', type='text')
            label(for='first_name') OTP
            a#resend_sms_otp.waves-effect.waves-light.btn Resend OTP
          button.btn.waves-effect.waves-light.submit-otp(type='submit', name='action')
            | Submit
            i.material-icons.right send
        #test2.col.s12
          p Enter the 6 digit One-Time-Password (OTP) sent to your email address
          .input-field.col.s3
            input#otp.validate(placeholder='OTP', type='text')
            label(for='first_name') OTP
            a#resend_sms_otp.waves-effect.waves-light.btn Resend OTP
          button.btn.waves-effect.waves-light.submit-otp(type='submit')
            | Submit
            i.material-icons.right send
    script(type='text/javascript', src='/resources/js/jquery.min.js')
    script(type='text/javascript', src='/resources/js/bootstrap.min.js')
    script(type='text/javascript', src='/resources/js/materialize.min.js')
