html
  head
    script.
      var room = #{roomNo}
    script.
      var gamemode = #{gamemode};
      var name = "#{name}";
    script(src='/resources/pixi.js')
    script(src='/resources/pixi-extra-filters.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/resources/constants.js')
    script(src='/resources/graphicsAPI/DisplayElement.js')
    script(src='/resources/graphicsAPI/BarGraphBar.js')
    script(src='/resources/graphicsAPI/BarGraph.js')
    script(src='/resources/graphicsAPI/PlayerRanking.js')
    script(src='/resources/graphicsAPI/LoadingBar.js')
    script(src='/resources/graphicsAPI/ProgressBar.js')
    script(src='/resources/graphicsAPI/Button.js')
    script(src='/resources/graphicsAPI/Car.js')
    script(src='/resources/graphicsAPI/McqButtonHandler.js')
    script(src='/resources/graphicsAPI/QuestionDisplay.js')
    script(src='/resources/graphicsAPI/ShortAnswerTextField.js')
    script(src='/resources/graphicsAPI/TopBar.js')
    script(src='/resources/graphicsAPI/AllPlayerRanking.js')
    if gamemode == 0
      script(src='/controller/game/play/classic.js')
    else if gamemode == 1
      script(src='/controller/game/play/race.js')
    else if gamemode == 2
      script(src='/controller/game/play/team-battle.js')
    else if gamemode == 3
      script(src='/controller/game/play/tug-of-war.js')
    script(src='/controller/play-logic.js')
    script(src='/controller/game/common.js')
    title exQuizit! - Play
  body
    #game
    h1 In room: #{roomNo}
    ul(id='waiting-list')
      li Waiting List...
