html
  head
    title Register (Teacher)
    script.
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script.
        $(function(){
        $("#register-teacher").validate({
        rules:{
        name:{
        required:true,
        minlength:5
        },
        username:{
        required:true,
        minlength:5
        },
        password:{
        required:true,
        minlength:8
        },
        confirmPassword:{
        required:true,
        minlength:8,
        equalTo:"#password"
        },
        email:{
        required:true,
        email:true
        },
        school:{
        required:true,
        minlength:3
        }
        },
        messages:{
        name:{
        required: "Please enter name",
        minlength:"Your name must consist atleast 5 characters"
        },
        username:{
        required: "Please enter username",
        minlength:"Your username must consist atleast 5 characters"
        },
        password:{
        required: "Please enter password",
        minlength:"Your password must consist atleast 8 characters"
        },
        confirmPassword:{
        required:"Please enter password",
        minlength:"Your password must consist atleast 8 characters",
        equalTo:"Passwords not match"
        },
        email:{
        required:"Please enter email",
        email:"Please enter a valid email"
        },
        school:{
        required:"Please enter your school",
        minlength:"PLease enter a valid school"
        }
        }
        });
        });
body(onmousemove='canceltimer();', onclick='canceltimer();')

    form#register-teacher(action='/reg-room-teach', method='post', onsubmit='/validate-register-teacher')
      input#name(type='text', name='name', placeholder='name', autocomplete="off")
      br
      input#username(type='text', name='username', placeholder='username', autocomplete="off")
      br
      input#Email.text(type='email',  name='email', placeholder='Email', autocomplete="off")
      br
      input#password(type='password',  name='password', placeholder='password')
      br
      input#confirmPassword(type='password',  name='confirmPassword', placeholder='confirmPassword')
      br
      input#school(type='text',name='school', placeholder='school', autocomplete="off")
      br
      input.submit(style='display:inline-block;', type='submit', value='Submit')
      input.submit(style='display:inline-block;', type='reset', value='Clear')

    script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js')
    script(src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js')
