html
  head
    title Register(student)
    script.
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js')
    script.
      jQuery.validator.addMethod('checkphone', function(value){
        if(/^[0-9]{8}$/.test(value)){
          return true;
         } else{
          return false;
         };
       }, 'Please enter a valid phone number');
    script.
      $(function(){
        $('#register-student').validate({
          rules:{
            name:{
              required:true,
              minlength:5
            },
            lusername:{
              required:true,
              minlength:5
            },
            password:{
              required:true,
              minlength:8
            },
            cpassword:{
              required:true,
              minlength:8,
              equalTo:"#lpassword"
            },
            number:{
              checkphone:true
            },
            email:{
              required:true,
              email:true
            },
            DOB:{
              required:true,
              date:true
            },
            school:{
              required:true,
              minlength:3
            }
          },
          messages:{
            name:{
              required: "Please enter name",
              minlength:"Your name must consist atleast 5 characters"
            },
            lusername:{
              required: "Please enter username",
              minlength:"Your username must consist atleast 5 characters"
            },
            lpassword:{
              required: "Please enter password",
              minlength:"Your password must consist atleast 8 characters"
            },
            cpassword:{
              required:"Please enter password",
              minlength:"Your password must consist atleast 8 characters",
              equalTo:"Passwords not match"
            },
            email:{
              required:"Please enter email",
              email:"Please enter a valid email"
            },
            DOB:{
              required:"Please enter your birthdate",
              date:"Please enter a valid date"
            },
            school:{
              required:"Please enter your school",
              minlength:"Please enter a valid school"
            }
          }
        });
      });

  body(onmousemove='canceltimer();', onclick='canceltimer();')
    form#register-student(action='/reg-room', method='post', onsubmit='/validate-register-student')
      input#name(type='text', name='name', placeholder='name', autocomplete="off")
      br
      p
      input#lusername(type='text', name='lusername', placeholder='username', autocomplete="off")
      br
      p
      input#Email.text(type='email', name='email', placeholder='Email', autocomplete="off")
      br
      p
      input#lpassword(type='password', name='lpassword', placeholder='password')
      br
      p
      input#cpassword(type='password', name='cpassword', placeholder='confirmPassword')
      br
      p
      #dateOfBirth
        label(for='dateOfBirth', style='float:left; display:inline;')
          | Date of Birth:
          input#DOB(style='width:230px;', type='date', name='DOB',min='1990-01-01',max='2011-01-15')
      p
      input#school(type='text', name='school', placeholder='school', autocomplete="off")
      br
      p
      input#number.checkphone(type='text', name='number', placeholder='phoneNumber', autocomplete="off")
      br
      p
      input.submit(style='display:inline-block;', type='submit', value='Submit')
      input.submit(style='display:inline-block;', type='reset', value='Clear')
