html
  head
    title Register (Teacher)
    script.
      var tim = 0;
      function reload () {
      tim = setTimeout("location.reload(true);",60000);   // 1 minute
      }
      function canceltimer() {
      window.clearTimeout(tim);  // cancel the timer on each mousemove/click
      reload();  // and restart it
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js')
    script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js')
    script.
        jQuery.validator.addMethod('checkphone', function(value){
          if(/^[0-9]{8}$/.test(value)){
            return true;
           } else{
            return false;
           };
         }, 'Please enter a valid phone number');
    script.
        $(function(){
          $('#register-teacher').validate({
            rules:{
              lusername:{
                required:true,
                minlength:5
              },
              lpassword:{
                required:true,
                minlength:8
              },
              cpassword:{
                required:true,
                minlength:8,
                equalTo:"#lpassword"
              },
              number:{
                checkphone:true
              },
              email:{
                required:true,
                email:true
              },
              school:{
                required:true,
                minlength:3
              }
            },
            messages:{
              lusername:{
                required: "Please enter username",
                minlength:"Your username must consist atleast 5 characters"
              },
              lpassword:{
                required: "Please enter password",
                minlength:"Your password must consist atleast 8 characters"
              },
              cpassword:{
                required:"Please enter password",
                minlength:"Your password must consist atleast 8 characters",
                equalTo:"Passwords not match"
              },
              email:{
                required:"Please enter email",
                email:"Please enter a valid email"
              },
              school:{
                required:"Please enter your school",
                minlength:"Please enter a valid school"
              }
            }
          });
        });
body(onmousemove='canceltimer();', onclick='canceltimer();')

    form#register-teacher(action='/reg-room-teach', method='post', onsubmit='/validate-register-teacher')
      input#lusername(type='text', name='lusername', placeholder='username', autocomplete="off")
      br
      input#Email.text(type='email',  name='email', placeholder='Email', autocomplete="off")
      br
      input#lpassword(type='password',  name='lpassword', placeholder='password')
      br
      input#cpassword(type='password',  name='cpassword', placeholder='confirmPassword')
      br
      input#school(type='text',name='school', placeholder='school', autocomplete="off")
      br
      input#number.checkphone(type='text', name='number', placeholder='phoneNumber', autocomplete="off")
      br
      input.submit(style='display:inline-block;', type='submit', value='Submit')
      input.submit(style='display:inline-block;', type='reset', value='Clear')
