doctype html
html
  head
    title
    // Bootstrap CSS File
    link(href='/resources/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome Stylesheet File
    link(href='/resources/css/font-awesome.min.css', rel='stylesheet')
    // Material StyleSheet
    link(type='text/css', rel='stylesheet', href='/resources/css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', type='text/css', href='/resources/css/mainstyle.css')
    link(rel='stylesheet', type='text/css', href='/resources/css/report.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    style.
      .table{
      border-collapse: collapse;
      }
  body(onload='displayClientCompletedQuestion()')
    nav
      .nav-wrapper
        a.brand-logo(href='LoginIndex.pug')
          img.logo(src='/resources/images/logo.png')
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='#')
              i.fa.fa-plus-square-o
              |  Create
          li
            a(href='#')
              i.fa.fa-graduation-cap
              |  Quiz
          li
          li.active
            a(href='MyProfile.pug')
              i.fa.fa-user(aria-hidden='true')
              |  Profile
          li
            a(href='#') Join Quiz
          li
            a.btn.btn-primary.btn-hh-trigger(role='button', data-toggle='collapse', data-target='.header-hidden') Open
    .container-fluid.statistics
      .row
        .col-md-1
        .col-md-10
          h5 Reports
        .col-md-1
      .row
        .col-md-1
        .col-md-6
          h6
            span#type.gameType.live D
            span#quiz-name(name='quiz-name') Ministries of Singapore
          p#date June 17th, 04:09pm
          p#days
        .col-md-4.action-div
          button.action
            i.material-icons print
          button.action
            i.material-icons file_download
            |  Excel
        .col-md-1
      .row
        .col-md-5
        .col-md-2
          .data
            h2 54%
            p Accuracy
        .col-md-2
          .data
            h2#question-no 13
            p Questions
        .col-md-2
          .data
            h2 1
            p Players
        .col-md-1
    blockquote
      | Questions
    .container-fluid
      .row
        form(method='get')
          input(type='submit', value='Download', onclick='download()')
        .col.m1
        .col.s12.m10
          ul.collapsible(data-collapsible='accordion')
        .col.m1
    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Quizzit! Inc
            p.grey-text.text-lighten-4 Get things done within minutes
            .chip
              i.fa.fa-facebook-official(aria-hidden='true')
              |                      Facebook
            .chip
              i.fa.fa-twitter-square(aria-hidden='true')
              |                       Twitter
            .chip
              i.fa.fa-instagram(aria-hidden='true')
              |                       Instagram
          .col.l4.offset-l2.s12
            h5.white-text Hyperlinks
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Join Room
              li
                a.grey-text.text-lighten-3(href='#!') Login
              li
                a.grey-text.text-lighten-3(href='#!') Create Account
              li
                a.grey-text.text-lighten-3(href='#!') Support
      .footer-copyright
        .container
          | © 2017 All Rights Reserved
          a.grey-text.text-lighten-4.right(href='#!') Terms of Use
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
    script(type='text/javascript', src='../controller/client-quiz.js')
    script(type='text/javascript', src='../controller/xlsx.core.min.js')
    script(type='text/javascript', src='..//controller/excelplus-2.5.min.js')
    // <script type="text/javascript" src = "../controller/displayReport.js"></script>
    script(type='text/javascript').
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
      panel.style.maxHeight = null;
      } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
      }
      }
      }
      $(document).ready(function() {
      (function($) {
      $('.tab ul.tabs').addClass('active').find('> li:eq(0)').addClass('current');
      $('.tab ul.tabs li a').click(function(g) {
      var tab = $(this).closest('.tab'),
      index = $(this).closest('li').index();
      tab.find('ul.tabs > li').removeClass('current');
      $(this).closest('li').addClass('current');
      tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
      tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();
      g.preventDefault();
      });
      })(jQuery);
      });
      $('.collapse').on('show.bs.collapse', function () {
      $('.collapse.in').collapse('hide');
      });
