html
  head
    title spammmmmm
  body
    form#login(method='POST', action='/spamming-in-progress')
      div.form-group
        p username
        input(type='text', name='username', id='username', class='hi', autocomplete="off")
        p spam text
        input(type = 'text' , name='spamText', id='spamText', autocomplete='off')
        input(type='hidden', name='_csrf', value=`${csrfToken}`)


      input(type='submit' value = 'Login')
