html
  head
    script(src='resources/pixi.js')
    script(src='resources/pixi.min.js.map')
    script(src='resources/graphicsAPI/Button.js')
    script(src='resources/graphicsAPI/Car.js')
    script(src='client/test.js')
  body
