doctype html
html
  head
    title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Food and Restorent One page Template
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/resources/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/resources/css/font-awesome.min.css')
    // <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">
    // For Plugins external css
    link(rel='stylesheet', href='/resources/css/animate.css')
    // Theme custom css
    link(rel='stylesheet', href='/resources/css/style.css')
    link(rel='stylesheet', type='text/css', href='/resources/css/user-home.css')
    // Theme Responsive css
    link(rel='stylesheet', href='/resources/css/responsive.css')
    script(src='/resources/js/modernizr-2.8.3-respond-1.4.2.min.js')
    script.
      var data = !{JSON.stringify(data)};
      var Totalquiz = data.quizInfo;
      console.log(Totalquiz);
  body
    .preloader
      .loaded  
    header#home.navbar-fixed-top
      .header_top_menu.clearfix
        .container
          .row
            .col-md-5.col-md-offset-3.col-sm-12.text-right
              .call_us_text
                a(href='')
                  i.fa.fa-clock-o
                  |  Default Theme
                a(href='')
                  i.fa.fa-phone
                  | Dark Theme
            .col-md-4.col-sm-12
              .head_top_social.text-right
                a(href='')
                  i.fa.fa-facebook
                a(href='')
                  i.fa.fa-google-plus
                a(href='')
                  i.fa.fa-twitter
                a(href='')
                  i.fa.fa-linkedin
                a(href='')
                  i.fa.fa-pinterest-p
                a(href='')
                  i.fa.fa-youtube
                a(href='')
                  i.fa.fa-phone
                a(href='')
                  i.fa.fa-camera
      // End navbar-collapse
      .main_menu_bg
        .container
          .row
            nav.navbar.navbar-default
              .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand.our_logo(href='#')
                    img(src='/resources/images/logo.png', alt='')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#') Home
                    li
                      a(href='#mobaileapps') Join
                    li
                      a(href='/profile') Profile
                    li
                      a.booking(href='/logout')  Logout
                // /.navbar-collapse
              // /.container-fluid
    // End Header Section
    section#facts.facts-section.text-center(data-stellar-vertical-offset='50', data-stellar-background-ratio='0.2')
      .tt-overlay-bg
        .container
          .row
            .col-md-12
              .count-wrap
                .col-sm-3.col-xs-6
                  h3.timer(style='padding-top:150px;') Welcome, 
                  p#user-name #{data.userInfo.username}
                .col-sm-3.col-xs-6
                .col-sm-3.col-xs-6
                .col-sm-3.col-xs-6
                  h3.timer(style='padding-top:150px;') 10 Posts
              // /count-wrap
            // /.col-md-12
          // /.row
        // /.container
    // End Facts Section
    .container-fluid
      #quiz-row.row
        #quiz-div.col-md-8
          .post-quiz(style='border:1px solid red;')
            .post
              .post-thumb
                img.img-rounded(src='/resources/images/works/portfolio-6.jpg')
              .post-details
                h3 Blah Blah QUiz
                .post-meta
                  .meta-info
                    i.fa.fa-calendar(aria-hidden='true')
                    |  04 August 2017
                p 20 MCQ Questions
          .post-quiz
            .post
              .post-thumb
                img.img-rounded(src='/resources/images/works/portfolio-6.jpg')
              .post-details
                h3 Blah Blah QUiz
                .post-meta
                  .meta-info
                    i.fa.fa-calendar(aria-hidden='true')
                    |  04 August 2017
                p 20 MCQ Questions
          .post-quiz
            .post
              .post-thumb
                img.img-rounded(src='/resources/images/works/portfolio-6.jpg')
              .post-details
                h3 Blah Blah QUiz
                .post-meta
                  .meta-info
                    i.fa.fa-calendar(aria-hidden='true')
                    |  04 August 2017
                p 20 MCQ Questions
          nav.pagination-container
            .pagination
              a.pagination-newer(href='#') PREV
              span.pagination-inner
                a(href='#') 1
                a.pagination-active(href='#') 2
                a(href='#') 3
                a(href='#') 4
                a(href='#') 5
                a(href='#') 6
              a.pagination-older(href='#') NEXT
        .col-md-4
          .sidebar
            h3 Top 3 Quiz
            .sidebar-content
              ul.discussion-list
                li
                  a.thumb(href='#')
                    img.img-circle(src='/resources/images/works/portfolio-7.jpg', width='60', height='60')
                  .details(style='border:1px solid red;')
                    a(href='#') Blah Blah Quiz
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                li
                  a.thumb(href='#')
                    img.img-circle(src='/resources/images/works/portfolio-7.jpg', width='60', height='60')
                  .details
                    a(href='#') Blah Blah Quiz
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          .sidebar
            h3 Recent Quizzes
            .sidebar-content
              ul.discussion-list
                li
                  a.thumb(href='#')
                    img.img-circle(src='/resources/images/works/portfolio-7.jpg', width='60', height='60')
                  .details(style='border:1px solid red;')
                    a(href='#') Blah Blah Quiz
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                li
                  a.thumb(href='#')
                    img.img-circle(src='/resources/images/works/portfolio-7.jpg', width='60', height='60')
                  .details
                    a(href='#') Blah Blah Quiz
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                li
                  a.thumb(href='#')
                    img.img-circle(src='/resources/images/works/portfolio-7.jpg', width='60', height='60')
                  .details
                    a(href='#') Blah Blah Quiz
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                li
                  a.thumb(href='#')
                    img.img-circle(src='/resources/images/works/portfolio-7.jpg', width='60', height='60')
                  .details
                    a(href='#') Blah Blah Quiz
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    script(src='/resources/js/jquery-1.11.2.min.js')
    script(src='/resources/js/bootstrap.min.js')
    script(src='/resources/js/jquery.easing.1.3.js')
    script(src='/resources/js/wow.min.js')
    script(src='/resources/js/plugins.js')
    script(src='/resources/js/main.js')
    script(type='text/javascript', src='/resources/js/jquery.easyPaginate.js')
    script(type='text/javascript', src='../controller/quiz-client.js')
    script(type='text/javascript').
      $('.pagination-inner a').on('click', function() {
      $(this).siblings().removeClass('pagination-active');
      $(this).addClass('pagination-active');
      });
      createNode();
